*.pyc
*.egg-info
build
dist
.pytest_cache
.vscode
Icon*
.eggs
__pycache__

*.ipynb
.ipynb_checkpoints

# We currently don't keep benchmark results in the repo, but could start doing this
.asv

.dmypy.json
