# https://pre-commit.com/
# Copied from xarray
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  # isort should run before black as black sometimes tweaks the isort output
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  # https://github.com/python/black#version-control-integration
  - repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.7
    hooks:
      - id: blackdoc
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
  - repo: https://github.com/Carreau/velin
    rev: 0.0.12
    hooks:
      - id: velin
        args: ["--write", "--compact"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    # version must correspond to the one in .github/workflows/ci-additional.yaml
    rev: v0.981
    hooks:
      - id: mypy
        # Copied from setup.cfg
        exclude: "properties|asv_bench"
        additional_dependencies: [types-setuptools]

  # run this occasionally, ref discussion https://github.com/pydata/xarray/pull/3194
  # - repo: https://github.com/asottile/pyupgrade
  #   rev: v1.22.1
  #   hooks:
  #     - id: pyupgrade
  #       args:
  #         - "--py3-only"
  #         # remove on f-strings in Py3.7
  #         - "--keep-percent-format"
