# Inspired by xarray

name: Test

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }} py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # https://github.com/numbagg/numbagg/issues/36
        # os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.9", "3.11"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: numbagg-tests
          cache-environment: true
          cache-environment-key: "${{matrix.os}}-${{matrix.python-version}}"
          create-args: >-
            python=${{matrix.python-version}} numba pandas bottleneck pytest

      - name: Install numbagg
        run: |
          python -m pip install --no-deps -e .

      - name: Run tests
        run: |
          python -m pytest

  mypy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: numbagg-tests
          cache-environment: true
          cache-environment-key: "${{matrix.os}}-${{matrix.python-version}}"
          create-args: >-
            python=${{matrix.python-version}} numba pandas bottleneck pytest mypy

      - name: Mypy
        run: |
          mypy
